html{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    margin: 0;
    padding: 0;
    background-color:#340002;
    background: url("images/azulejosfond3.jpg");
    color:white;
}
header{
    position: fixed;
    overflow-x: hidden;
    top: 0;
    left: 0;
    width: 88%;
    padding: 20px 10%;
    background-color: #013517;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    overflow-x: hidden;
}
.logo img{
    height: 65px;
    max-height: 100%;
    width: 65px;
    max-width: 100%;
    object-fit: contain;
}

nav a{
    font-size: 18px;
    color:white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}
nav a:hover{
    color:#8B0000;
    font-size: 18pt
}
main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.contact-info h2{
    color: white;
    margin-top: 140px;
    text-decoration: underline;
}
.contact-form h2{
    margin-top: 60px;
    font-size: 32px;
    text-decoration: underline;

}
form {
    display: flex;
    flex-direction: column;
}
form input{
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
}

form button {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #4F0000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color:green;
}


footer {
    position: absolute ;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(5, 34, 5);
    color: white;
    text-align: center;
    padding: 10px;
}
footer a {
    color: white;
    font-size: 14px;
    justify-content: space-between ;
    margin-right: 50px;
    margin-left: 50px;
    align-items: center;
}

footer p {
    font-size: 14px;
}